@Styles.Render("~/Content/css")

@Scripts.Render("~/bundles/jquery")


    <div class="modal fade" id="inventory-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="inventory-modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="departmentsLabel">Maintainance: Inventory</h2>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body" id="inventory-modal-body">
                    Loading...
                </div>
            </div>
        </div>
    </div>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")


